<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Show Select</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            color: #588c7e;
            font-family: monospace;
            font-size: 25px;
            text-align: left;
        }
        th{
            background-color: #588c7e;
            color: white;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>student_id</th>
            <th>student_f_name</th>
            <th>student_l_name</th>
            <th>subject_id</th>
            <th>subject_name</th>
            <th>grade</th>
            <th>teacher_f_name</th>
            <th>teacher_l_name</th>
        </tr>
        <tr>
            <td>6406022620011</td>
            <td>Jakapat</td>
            <td>Jodduangchan</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMING</td>
            <td>B+</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
        <tr>
            <td>6406022620011</td>
            <td>Jakapat</td>
            <td>Jodduangchan</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>A</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>
        <tr>
            <td>6406022620096</td>
            <td>Chalongrath</td>
            <td>Kodlord</td>
            <td>060233113</td>
            <td>ADVANCED COMPUTER PROGRAMMING</td>
            <td>C</td>
            <td>Anirach</td>
            <td>Mingkhwan</td>
        </tr>
        <tr>
            <td>6406022620096</td>
            <td>Chalongrath</td>
            <td>Kodlord</td>
            <td>060233201</td>
            <td>NETWORK ENGINEERING LABORATORY</td>
            <td>B+</td>
            <td>Watcharachai</td>
            <td>Kongsiriwattana</td>
        </tr>
        <tr>
            <td>6406022020037</td>
            <td>Bunnapon</td>
            <td>Takumwan</td>
            <td>060233201</td>
            <td>NETWORK ENGINEERING LABORATORY</td>
            <td>A</td>
            <td>Watcharachai</td>
            <td>Kongsiriwattana</td>
        </tr>
        <tr>
            <td>6406022020037</td>
            <td>Bunnapon</td>
            <td>Takumwan</td>
            <td>060233205</td>
            <td>ADVANCED NETWORK AND PROTOCOL</td>
            <td>B</td>
            <td>Khanista</td>
            <td>Namee</td>
        </tr>

    </table>
</body>
</html>